body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff !important;
}

#queueSpot {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
}

.archived {
  font-size: .9rem;
  text-decoration: underline;
}

nav p {
  font-size: 1rem;
}

.jumbotron {
  /*height: 33vh;*/
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.btn-light {
  color: #f28d20;
}

#list-head {
  background-color: #f28d20;
  color: #fff;
}

.entry {
  border-bottom: 1px solid #a6a6a6;
}

.list p {
  margin-bottom: 0;
  color: #a6a6a6;
  font-size: .8rem;
}

.resolve i {
  font-size: 1.8rem;
  color: green;
}
