body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: #007bff !important;
}

#queueSpot {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 15px;
}

.archived {
  font-size: .9rem;
  text-decoration: underline;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

nav p {
  font-size: 1rem;
}

.jumbotron {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.btn-light {
  color: #f28d20;
}

#list-head {
  background-color: #f28d20;
  color: #fff;
}

ul {
  padding-left: 0;
  padding-right: 0;
}

li {
  list-style: none;
  padding-top: 0;
  border-bottom: 1px #c4c4c4 solid;
}

.list li p {
  margin-bottom: 0;
  color: #a6a6a6;
  font-size: .8rem;
}

.item-button {
  width: 85%;
}

.hidden {
  display: none;
}
